<div class="quizz__container">
    <div class="quizz_logo">
        <div class="logo-container">
            <img src="assets/imgs/logo.png" alt="Logo" srcset="">
            <h3>{{title}}</h3>
        </div>

        <!-- Imagens de Jeff Bezos e Tim Cook -->
        <div class="ceo-images">
            <img src="https://img.freepik.com/fotos-premium/jeff-bezos-quien-es-el_980716-350.jpg" alt="Jeff Bezos" class="ceo-image">
            <img src="https://img.freepik.com/fotos-premium/retrato-de-tim-cook_980716-2096.jpg" alt="Tim Cook" class="ceo-image">
        </div>
    </div>

    <div *ngIf="!finished" class="quizz_questions">
        <h3>{{questionSelected.question}}</h3>
    </div>

    <div *ngIf="!finished" class="quizz_options">
        <button
            *ngFor="let option of questionSelected.options; let i = index"
            (click)="playerChoose(option.alias)"
            class="btn-option"
        >
            {{option.name}}
        </button>
    </div>

    <div *ngIf="finished" class="quizz_results">
        <h1>O seu resultado é:</h1>
        <p>{{answerSelected}}</p>
    </div>
</div>
